body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr; 
  height: 100vh; 
}

.content {
  display: grid;
  background-color:#E3F2FD; 
  grid-template-columns: 3.5fr 6.5fr; 
  gap: 10px; 
  padding: 15px;
  height: 90%;
}

.left-side {
  background-color:#E3F2FD; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  box-sizing: border-box; 
}

.input-container p {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold; 
  text-align: left;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6C757D;
  border-radius: 4px;
  box-sizing: border-box; 
}

.input-container button {
  width: 100%;
  padding: 10px;
  background-color: #5372F0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}

.input-container button[disabled] {
  background-color: #b0bec5; /* Màu nút khi disable */
  color: #666;
  cursor: not-allowed;
}

.subscribe-container {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe {
  width: 40%;
  padding: 10px;
  background-color: #00cdb5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}

.unsubscribe {
  width: 40%;
  padding: 10px;
  background-color: #ca4c4c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-text {
  margin: 0 10px;
  color: #555;
}

.another-button {
  width: 100%;
  padding: 10px;
  background-color: #6C757D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}

.right-side {
  background-color:#E3F2FD;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.info-container {
  background-color: #5372F0;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 150px; 
}

.info-box {
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: left;
}

.info-box h3 {
  margin: 0;
}

.additional-info {
  color: white;
  border-radius: 4px;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.days-label {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold; 
  text-align: left;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px; 
}

.column-box {
  background-color: #6C757D; 
  border-radius: 4px;
  height: 200px; 
}
