.header {
  background-color: #5372F0; 
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
  flex-grow: 1; 
}

.icon {
  font-size: 1.5rem; 
  cursor: pointer; 
  margin: 0 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between; /* Để các phần tử nằm ở hai đầu của flex container */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.modal-text {
  flex: 1; /* Cho phần tử này mở rộng theo phần còn lại của flex container */
  text-align: center; /* Căn giữa nội dung ngang */
}

.close-button {
  background-color: #fff;
  padding: 10px 20px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-item {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-content input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
