.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #007bff;
    z-index: 9999; /* Đảm bảo nằm trên cùng */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .progress-bar.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .bar {
    height: 100%;
    width: 0;
    background-color: #0056b3; /* Màu của thanh tiến trình */
    transition: width 0.3s;
  }
  